body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
}

/* start: global style */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.contact{
    position: relative; right: 350px; top:50px;
    font-family: 'Patua One', cursive;
    font-size: 30%;
    
}

.logos{
    position: relative; right: 35px; top:50px; 
}


.info{
    font-size: 40%;
    font-family: 'Red Rose', cursive;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}


.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
background-image: url("gold.png");
background-size: 100%;
height: 22px;

}

.badge.strategy {
    background-color: #4EAE60;
}

.badge.racing {
background-image: url("treasure.png");
background-size: 100%;
height: 20px;
}

.badge.rpg,
.badge.adventure {
    background-image: url("gold2.png");
background-size: 100%;
height: 20px;
}


.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4%;
}


header {
    background-color: #302e36;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-family: 'Crete Round', serif;
    font-size: 150%;
    
}

.bottom{
    position: relative; right: 15px;
}

#nav-menu-container{
position:relative; top:10px; 
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid rgb(124, 14, 65);
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
    
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: rgb(124, 14, 65);
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: rgb(251, 252, 255);
    font-weight: 600;
   
}



#swirl-image {
    background-color:floralwhite;
    height: 820px;
}

.swirl-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.swirl-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.swirl-text span {
    color: rgb(192, 31, 66);
}

.swirl-text h2 {
    color: #eee;
    font-size: large;
    font-weight: 300;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
    white-space: nowrap;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.swirl-text button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


#latest-news .flex {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

#latest-news-container {
    background-color: #302e36;
    padding: 20px 0;
    position: relative;
    flex-basis: 100%;
    padding: 40px;
}

#game-types-boxes {
    margin-bottom: 75px;
}

#game-types-boxes .box {
    flex-basis: 25%;
    position: relative;
    height: 380px;
}

.btn2 {
    font-family: 'Do Hyeon', sans-serif;
}


.btn4 {
    
    font-family: 'Do Hyeon', sans-serif;
}

.btn5 {
    
    font-family: 'Do Hyeon', sans-serif;
}

.pricing{
    margin-top: 8%;
    margin-left: 41%;
    font-family: 'Patua One', cursive;
    font-size: 20px ;
    color: #302e36;
}

.bottom{
    margin-top: -20%;
    margin-left: 33%;
    font-family: 'Patua One', cursive;
    font-size: 20px ;
    color:  #302e36;
}

#game-types-boxes .box.new {
    background: url("page.png");
    background-size: cover;
    border-radius: 4%;
    box-shadow: 0 10px 20px rgb(28, 39, 197);
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#game-types-boxes .box.new:hover{
    margin-top: 2px;
}

#game-types-boxes .box.new3 {
    background: url('page2.png') top center no-repeat;
    background-size: cover;
    border-radius: 4%;
    box-shadow: 0 10px 20px rgb(35, 197, 35);
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#game-types-boxes .box.new3:hover{
    margin-top: 2px;
}

#game-types-boxes .box.new4 {
    background: url('page3.png') top center no-repeat;
    background-size: cover;
    border-radius: 4%;
    box-shadow: 0 10px 20px rgb(226, 40, 71);
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#game-types-boxes .box.new4:hover{
    margin-top: 2px;
}

#game-types-boxes .box .badge {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
}

#game-types-boxes .box .contents {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    color: #eee;
    padding: 0 35px 0 25px;
}

#game-types-boxes .box .contents a {
    font-size: 0.8em;
    font-weight: 300;
    color: #999;
}
/* end: game types styles */

/* start: abouttyles */




#howitworks {
    font-family: 'Patua One', cursive;
    color:#302e36;
    background: url('kraken.png') bottom no-repeat; 
    background-size: 200px;
    background-position: 99%; 
}

#howitworks h1 {
    text-align: center;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 251, 251),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

#howitworks .box {
    position: relative;
    flex-basis: 31%;
}

#howitworks .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    
}

#howitworks .box img {
    width: 100%;
}

#howitworks .box .box-lower-section {
    padding: 20px;
    
}

#dont {
    font-family: 'Patua One', cursive;
    color:#302e36;
    background: url('bird.png') no-repeat; 
    background-size: 200px;
    background-position: 1%; 
    
}

#dont h1 {
    text-align: center;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 251, 251),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

#dont .box {
    position: relative;
    flex-basis: 31%;
}

#dont .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    
}

#dont .box img {
    width: 100%;
}

#dont .box .box-lower-section {
    padding: 20px;
    
}



/* #howitworks .box .box-lower-section p {
    color: rgb(0, 0, 0);
}

#howitworks .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
} */



#grid {
    background-color: #302e36;
    padding: 20px 0;
    position: relative;
    flex-basis: 100%;
    padding: 40px;
}

#grid .flex {
    position: relative;
}


#about {
    background: url('map.png') bottom left no-repeat; 
    background-size: 200px; 
    font-family: 'Patua One', cursive;
    color: #302e36;
    text-align: center;
    margin-bottom: 1.65em;
    padding: 10px;
 background-position: 1%;  
    
    
}

/* #about h1 {
    text-align: center;
    margin-bottom: 1.65em;
    margin-top: -190px;
} */

#about .box {
   
    text-align: center;
}

#about .box .rating-badge {
    border-radius: 28px;
    padding: 13px;
    font-size: 1.1em;
    color: #eee;
    font-weight: 600;
    background-color: #FFB320;
    cursor: pointer;
    position: absolute;
    top: -30px;
    left: 30px;
}

#about .box .rating-badge.purple {
    background-color: #694EAE;
    cursor: pointer;
}

#about .box .rating-badge.green {
    background-color: #4EAE60;
    cursor: pointer;
}

#about .box .rating-badge.violet {
    background-color: #FF20AE;
    cursor: pointer;
}

#about .box .about-image {
    margin-bottom: 0.75em;
    overflow: hidden;
}

#about .box .about-image img {
    width: 100%;
}

#about h4 {
    color: rgb(0, 0, 0);
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255);
}

#about .box p {
    color: rgb(0, 0, 0);
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255),
		-1px -1px 0 rgb(255, 255, 255);
}





footer {
    background-color: #302e36;
    padding: 25px 0 20px;
}


footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 12px;
}

footer ul li a {
    color: #ddd;
    font-size: 0.8em;
}



@media (max-width: 1200px) {
    .flex {
        max-width: 1000px;
    }

    .latest-news-item {
        font-size: 0.8em;
    }

    #tournaments .box .tournaments-content {
        margin-left: 15px;
    }

    #tournaments .box .tournaments-content h3 {
        font-size: 1.4em;
        margin-bottom: 0.2em;
    }
}

@media (max-width: 991px) {
    .flex {
        max-width: 720px;
    }

    nav ul li {
        margin: 0 12px;
        font-size: 0.85em;
    }

    #latest-news .flex h5 {
        width: 15%;
    }

    #game-types-boxes .flex {
        flex-wrap: wrap;
    }

    #game-types-boxes .box {
        flex-basis: 50%;
    }

    #tournaments .box {
        flex-basis: 42%;
    }

    #tournaments .box .tournaments-image {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        height: 250px;
        overflow: hidden;
    }

    #tournaments .box .tournaments-content {
        margin-left: 0;
        width: 100%;
    }
    
    #about {
        background: none;
    }

    #about .flex {
        flex-wrap: wrap;
    }

    #about .box {
        flex-basis: 48%;
        margin-bottom: 45px;
    }

    #posts-comments .flex {
        flex-wrap: wrap;
    }

    #posts-comments .game-warrior {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    #posts-comments .posts-comments-box {
        flex-basis: 43%;
    }

    #posts-comments .game-warrior img.footer-graphic {
        display: none;
    }

    footer .flex {
        flex-wrap: wrap-reverse;
    }

    footer small {
        flex-basis: 100%;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        line-height: 1.5;
    }

    footer ul {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }
} /* end 991px */

@media (max-width: 767px) {
    h4 {
        font-size: 1.2em;
    }

    .flex {
        max-width: 540px;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 101%;
        width: 100%;
        background-color: #131313;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
    }

    nav ul li {
        display: block;
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #FFB320; 
        margin: 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    .hamburger-menu {
        display: block;
        margin-top: 2px;
    }


    #latest-news .flex h5 {
        display: none;
    }

    #latest-news-container {
        flex-basis: 100%;
    }


    #about .box {
        flex-basis: 100%;
    }

    #about .box .about-image {
        height: 400px;
    }

    footer ul li {
        margin: 0 10px;
    }

    footer ul li a {
        font-size: 0.75em;
    }
} 

.name{
    color: white;
    font-size: 40px;
    position:relative; top:10px; left: -380px;
} 

img{
    width: 60px;
	height: 60px;
	position: -webkit-sticky; /* Safari */
 	position: sticky;
    top: 0;
    margin-left: -320px;
    
	
}

